<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>
        body{
        font-family:calibri;
        font-size:25px;
        background-color:orange;
        }

        h3{
        font-family:calibri;
        font-size:30px ;
        }

        fieldset{
        border-color:black;
        border-style:dotted;
        border-radius:40px;
        }

    </style>
</head>
<h1>Blogs Pages</h1>
<body align="center">

{% for blog in object_list %}

<div style="color:black">
    <fieldset>
        <legend><h3>{{blog.Name}}</h3></legend>
        {{blog.Text}}
    </fieldset>
    <p></p>
</div>
{% endfor %}
<form action="/add" method="">
   <button>Add</button>
</form>
</body>
</html>